#E
@min_distance=1
$5
rx_en
$57
comp_in
$5
trim_out\[7\]
$5
trim_out\[6\]
$4
trim_out\[5\]
$5
trim_out\[4\]
$4
trim_out\[3\]
$5
trim_out\[2\]
$4
trim_out\[1\]
$10
trim_out\[0\]
sc_phi2
sc_phi1
dbg_en
tx_en_n
tx_en
clk
uio_oe\[7\]
uio_oe\[6\]
uio_oe\[5\]
uio_oe\[4\]
uio_oe\[3\]
uio_oe\[2\]
uio_oe\[1\]
uio_oe\[0\]
uio_out\[7\]
uio_out\[6\]
uio_out\[5\]
uio_out\[4\]
uio_out\[3\]
uio_out\[2\]
uio_out\[1\]
uio_out\[0\]
uo_out\[7\]
uo_out\[6\]
uo_out\[5\]
uo_out\[4\]
uo_out\[3\]
uo_out\[2\]
uo_out\[1\]
uo_out\[0\]
uio_in\[7\]
uio_in\[6\]
uio_in\[5\]
uio_in\[4\]
uio_in\[3\]
uio_in\[2\]
uio_in\[1\]
uio_in\[0\]
ui_in\[7\]
ui_in\[6\]
ui_in\[5\]
ui_in\[4\]
ui_in\[3\]
ui_in\[2\]
ui_in\[1\]
ui_in\[0\]
rst_n
